<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test suite" parallel="tests" thread-count="10">
    <test name="Test1">
        <groups>
            <run>
                <include name="tests"/>
            </run>
        </groups>
        <classes>
            <class name="CalcTest"/>
        </classes>
    </test>

</suite>